{{#if tasks}}
<table class="table table-bordered table-hover table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>description</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
         
          {{#if done}}
        <a href="/task/{{_id}}/toggleDone" class="btn btn-success btn-sm m-2 ">Done</a>
          {{else}}
        <a href="/task/{{_id}}/toggleDone"  class="btn btn-dark btn-sm m-2">Undone</a>
          {{/if}}
        <a href="/task/{{_id}}/edit"  class="btn btn-danger btn-sm m-2">Update</a>
        <a href="/task/{{_id}}/delete"  class="btn btn-info btn-sm m-2" >Delete</a>

        </td>
      </tr>
          {{/each}}
  </tbody>
</table>


{{else}}
     <div class="h-100 d-flex align-items-center justify-content-center">
       <div class="text-center text-white">
        <h1>No tasks</h1>
        <img src="ii.png" alt="">
      </div>
     </div>
{{/if}}